body {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    display: flex;
}

.main-content {
    padding: 20px;
    color: white;
    width: calc(100% - 220px);
    background-color: black;
    margin-left: 220px;
}

.profile-section {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
}

.profile-info h2 {
    color: yellow;
    font-size: 1.5em;
    margin: 0;
}

.bio {
    font-size: 1em;
    color: #ddd;
}

.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.tabs a {
    color: #ddd;
    text-decoration: none;
    padding: 10px 20px;
    font-weight: bold;
    margin-right: 10px;
    transition: color 0.3s;
}

.tabs a.active,
.tabs a:hover {
    color: yellow;
    border-bottom: 2px solid yellow;
}

.post-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px 0;
}

.post {
    background-color : #333;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    color: #fff;
}

.post img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.post p {
    margin-top: 10px;
    font-size: 0.9em;
}

.trending {
    display: none;
}