body {
    padding: 40px 20px;
    width: calc(100% - 350px);
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000;
}

.profile-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200%;
    max-width: 900px;
    margin-bottom: 30px;
    background-color: #222;
    padding: 20px;
    border-radius: 15px;
}

.profile-picture-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-picture {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #FFDF00;
    margin-bottom: 10px;
}

.change-photo-btn {
    background-color: #FFDF00;
    color: black;
    padding: 5px 15px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.change-photo-btn:hover {
    background-color: #FFBF00;
}

.profile-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-grow: 1;
    margin-left: 20px;
}

.profile-info label {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 1.2em;
    color: #FFDF00;
}

.profile-info input {
    border: none;
    background-color: transparent;
    color: white;
    font-size: 1.2em;
    width: 100%;
    margin: 0;
}

.profile-fields {
    width: 200%;
    display: flex;
    flex-direction: column;
    background-color: #222;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 30px;
}

.profile-fields label {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 1.2em;
    color: #FFDF00;
}

.profile-fields input[type="text"],
.profile-fields input[type="email"],
.profile-fields select,
.profile-fields textarea {
    width: 90%;
    padding: 15px;
    border: none;
    border-radius: 10px;
    background-color: #333;
    color: white;
    margin-bottom: 20px;
    font-size: 1em;
    resize: none;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
}

.profile-fields textarea {
    height: 100px;
}

.profile-fields input:focus,
.profile-fields textarea:focus,
.profile-fields select:focus {
    outline: none;
    border: 2px solid #FFDF00;
}

.edit-section {
    position: absolute;
    top: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
}


.edit-section button {
    background-color: #FFDF00;
    color: black;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.edit-section button:hover {
    background-color: #FFBF00;
}

